{% extends "orders/base.html" %}

{% block content %}
<div class="profile-container">
    <h2 class="profile-header">Welcome, {{ user.username }}!</h2>
    <div class="profile-details">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.profile.phone_number }}</p>
    </div>

    {% if orders %}
        <h3 class="profile-subheader">Your Orders:</h3>
        <ul class="order-list">
            {% for order in orders %}
            <li class="order-item">
                <strong>Order #{{ order.id }}</strong> -
                <span class="order-status">{{ order.status }}</span> -
                <span class="order-date">{{ order.created_at|date:"Y-m-d H:i" }}</span> -
                <strong>Total: ${{ order.get_total_price }}</strong>

                <ul class="order-products">
                    {% for order_product in order.orderproduct_set.all %}
                    <li class="order-product">
                        <img src="{{ order_product.product.image.url }}" alt="{{ order_product.product.name }}" class="order-product-image">
                        <span>{{ order_product.product.name }} (x{{ order_product.quantity }})</span>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Кнопка для повторного заказа -->
                <form method="POST" action="{% url 'repeat_order' order.id %}">
                    {% csrf_token %}
                    <button type="submit" class="repeat-order-button">Repeat Order</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-message">Here is empty for now. Let’s decorate everything with flowers!</p>
    {% endif %}
</div>
{% endblock %}